body{
  margin:0;
  text-align: center;
  font-family: verdana, sans-serif;
}

h1{
  font-size: 2.5rem;
  margin-top: 0;
  font-family: cursive;
  color: #66BFBF;

}

h2{
  color: #66BFBF;
  font-weight: normal;
}

h3{
  color: #11999E;
}


.topContainer{
  background: #9fd8df;
  position: relative;
  padding-top: 100px;

}

.MidContainer{
  padding-top: 10px;
}

.BottomContainer{

}

.top-cloud{
  position: absolute;
  right: 250px;
  top: 50px;

}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;

}
